
<div>
<input type="text" [formControl]="data" disabled style=" font-size: 142px; padding: 2% 0% 2% 0%; text-align: right;">

<br>
<input type="button" (click)="operator('+')" value="+" style=" font-size: 81px; padding: 2% 8% 2% 8%; background-color:#004492;color:wheat;">
<input type="button" (click)="operator('-')" value="-"style=" font-size: 81px; padding: 2% 8% 2% 8%; background-color:#004492; color:wheat;">
<input type="button" (click)="operator('*')" value="*"style=" font-size: 81px; padding: 2% 8% 2% 8%; background-color:#004492; color:wheat;">
<input type="button" (click)="operator('/')" value="/"style=" font-size: 81px; padding: 2% 8% 2% 8%; background-color:#004492; color:wheat;">
<input type="button" (click)="result('=')" value="=" style=" font-size: 81px; padding: 2% 10% 2% 148px; background-color:green;color:wheat;">

<br>


<input type="button" (click)="number('7')" value="7" style=" font-size: 81px; padding: 2% 8% 2% 8.5%;">
<input type="button" (click)="number('8')" value="8" style=" font-size: 81px; padding: 2% 8% 2% 8.5%;">
<input type="button" (click)="number('9')" value="9" style=" font-size: 81px; padding: 2% 8% 2% 8.5%;">
<input type="button" (click)="number('6')" value="6" style=" font-size: 81px; padding: 2% 8% 2% 8.5%;">
<input type="button" (click)="number('5')" value="5" style=" font-size: 81px; padding: 2% 8% 2% 9.8%;">

<br>

<input type="button" (click)="number('4')" value="4" style=" font-size: 81px; padding: 2% 9% 2% 8%;">
<input type="button" (click)="number('3')" value="3" style=" font-size: 81px; padding: 2% 9% 2% 8%;">
<input type="button" (click)="number('2')" value="2" style=" font-size: 81px; padding: 2% 9% 2% 8%;">
<input type="button" (click)="number('1')" value="1" style=" font-size: 81px; padding: 2% 9% 2% 7.6%;">
<input type="button" (click)="clear()" value="AC" style=" font-size: 81px; padding: 2% 6% 2% 97px; background-color:red;color:wheat;">

</div>

